<section class="businesses-love">
  <div class="container">
    <h1 class="businesses-love__title">Why businesses love Stuart</h1>
    <p class="businesses-love__subtitle">
      Last mile urban logistics for everyone
    </p>
    <div class="businesses-love__container">
      <a href="#" class="businesses-love__element">
        <div class="businesses-love__img">
          <img src="/assets/img/sme-photo@2x.jpg" alt="SME photo">
        </div>
        <div class="businesses-love__content">
          <h1 class="businesses-love__content__title">SME</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales.</p>
          <span class="btn btn--icon">Learn more <img src="/assets/img/more-icon.svg"></span>
        </div>
      </a href="#">
      <a href="#" class="businesses-love__element">
        <div class="businesses-love__img">
          <img src="/assets/img/corporate-photo@2x.jpg" alt="Corporate photo">
        </div>
        <div class="businesses-love__content">
          <h1 class="businesses-love__content__title">Corporate</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus sodales.</p>
          <span class="btn btn--icon">Learn more <img src="/assets/img/more-icon.svg"></span>
        </div>
      </a>
    </div>
  </div>
</section>