<nav class="sidebar-mobile__nav">
  <div class="sidebar-mobile__header">
    <a href="#" class="btn btn--primary btn--small">Sign in</a>
    <button class="btn btn--close-sidebar">
      <img src="/assets/img/close-icon.svg" alt="Close menu">
    </button>
  </div>
  <hr>
  <ul class="sidebar-mobile__list">
    <li class="active">
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">SME</a>
    </li>
    <li>
      <a href="#">Corporate</a>
    </li>
    <li>
      <a href="#">API</a>
    </li>
    <li>
      <a href="#">Mobile apps</a>
    </li>
    <li>
      <a href="#">Dashboard</a>
    </li>
  </ul>
  <hr>
  <ul class="sidebar-mobile__list">
    <li>
      <a href="#">Become a courier</a>
    </li>
    <li>
      <a href="#">Careers</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
  </ul>
</nav>